body {
  background-color: #0457a0 !important;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px 5px;
  justify-content: center;
  align-items: center;
}
