@font-face {
  font-family: "Spongeboy-Me-Bob";
  src: local("Spongeboy-Me-Bob"),
    url(../fonts/Spongeboy\ Me\ Bob.ttf) format("truetype");
}

header > h1 {
  color: #fff;
  font-family: "Spongeboy-Me-Bob";
  font-size: 4rem;
  letter-spacing: 2px;
  text-align: center;
  margin: 3rem 0 1.5rem 0 !important;
}
