@font-face {
  font-family: "Spongeboy-Me-Bob";
  src: local("Spongeboy-Me-Bob"),
    url(../fonts/Spongeboy\ Me\ Bob.ttf) format("truetype");
}

h1 {
  color: #fff;
  font-family: "Spongeboy-Me-Bob";
  font-size: 3rem;
  letter-spacing: 2px;
  text-align: center;
}
