/* !important used to override semantic-ui-react CSS styling */

.how-to-play p {
  font-family: "Londrina Solid", cursive;
  font-size: 1.75rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  border: 0 !important;
}
