.scoreboard {
  color: #fff;
  font-family: "Londrina Solid", cursive;
  font-size: 1.75rem;
  letter-spacing: 2px;
  text-align: center;
}

.scoreboard > .max-score,
.current-score {
  margin-bottom: 1.5rem;
}

.scoreboard > .best-score {
  margin-bottom: 2rem;
}
